.container {
    width: 100%;
    min-height: 100vh;
    
    background-position: center;
    background-size: cover;
}
.dark-mode{
    background-color: #333;
    color: white;
}

.Day-Manager {
    width: 100%;
    max-width: 540px;
    background-image: url(images/Hintergrundbilder.jpeg);
    /* background-color: rgb(165, 20, 170); */
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 70px;
    border-radius: 80px;
    
}


.Day-Manager h2 {
    font-style: oblique;
    font-size: 72px;
    text-align: center;
    color:gold;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

.Day-Manager h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: bisque;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

button {
    border: 2px solid black;
    outline-style: dotted;
    outline-width: auto;
    padding: 16px 50px;
    background: green;
    color: yellow;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

ol li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ol li::before {
    content: '';
    position: left;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/doit.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ol li.checked {
    color: red;
    text-decoration: line-through;
}

ol li.checked::before {
    
    background-image: url(images/list.jpeg);
}

ol li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: blue;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ol li span:hover {
    background: #466ab3;
}
